body{
    text-align: center;
    background: linear-gradient(to right,#cc2b5e,#753a88);
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-cont{
    display: flex;
    justify-content: center;

}

.yellow{
    background-color: #f99b45;
}

.red{
    background-color: #d95980;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}